/tmp/
/.tmp/
/.cache/
/old_scripts/
/logs/
/data/
/all_raw/
/figures/
/manuscript_figures/
/manuscripts/
*.pdf
/results/
/plots/
/ecology/model_selection/data/
.nfs*
__pycache__/
*.py[co]
junk/
slurm/runs
slurm/logs
slurm/log*
models/gpath/v1/gpath_hier
*.html
/agent-dev/
/dev-figs/
.tmp
